
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySkillLabel" translate="hubApp.skill.home.createOrEditLabel">Create or edit a Skill</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.skill.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="hubApp.skill.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.skill.name"
                    required ng-minlength="3" ng-maxlength="24" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="24">
                    This field cannot be longer than 24 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="hubApp.skill.level" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                    ng-model="vm.skill.level"
                    required min="0" max="100" />
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                    ng-show="editForm.level.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.max" translate="entity.validation.max" translate-value-max="100">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="hubApp.skill.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.skill.user" ng-options="user as user.email for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
