<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Calendar:: EmpowerHack Hub</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="card">
        <form th:action="@{/calendar/add}" th:object="${calendar}" method="post">
            <div class="card-header">
                Project
            </div>
            <div class="card-block">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-danger">
                    <label for="name" class="form-control-label">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" />
                    <small class="text-help has-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-danger">
                    <label for="description" class="form-control-label">Description</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}" />
                    <small class="text-help has-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('location')} ? has-danger">
                    <label for="location" class="form-control-label">Location</label>
                    <input type="text" class="form-control" id="location" th:field="*{location}" />
                    <small class="text-help has-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error</small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('date')} ? has-danger">
                    <label for="date" class="form-control-label">Event Date/Time</label>
                    <input type="text" class="form-control" id="date" th:field="*{date}" />
                    <small class="text-help has-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date/Time Error</small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('duration')} ? has-danger">
                    <label for="duration" class="form-control-label">Duration</label>
                    <input type="text" class="form-control" id="duration" th:field="*{duration}" />
                    <small class="text-help has-danger" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Duration</small>
                </div>
            </div>

            <div class="card-footer text-muted">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>

</div>

</body>
</html>