<div>
    <h2 translate="hubApp.project.home.title">Projects</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="project.new" has-authority="ROLE_ADMIN">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="hubApp.project.home.createLabel">
                        Create new Project
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'hubApp.project.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <div jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()" class="prj-sort">
                    Sort by:
                    <span jh-sort-by="name">
                        <span translate="hubApp.project.name">Name</span> <span class="glyphicon glyphicon-sort"></span>
                    </span>
                    <span jh-sort-by="description">
                        <span translate="hubApp.project.description">Description</span> <span class="glyphicon glyphicon-sort"></span>
                    </span>
                    <span jh-sort-by="status">
                        <span translate="hubApp.project.status">Status</span> <span class="glyphicon glyphicon-sort"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div ng-repeat="project in vm.projects track by project.id" class="row prj-row">
        <div class="col-xs-12 col-md-2">
            <img ng-src="{{project.pathToImage}}">
        </div>
        <div class="col-xs-12 col-md-5">
            <a ui-sref="project-detail({id:project.id})">{{project.name}}</a>
            <span class="label label-default">{{project.views}}</span>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        ui-sref="project-detail({id:project.id})"
                        class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                </button>
                <button type="submit"
                        ui-sref="project.edit({id:project.id})"
                        class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                </button>
                <button type="submit"
                        ui-sref="project.delete({id:project.id})"
                        class="btn btn-danger btn-sm"
                        has-authority="ROLE_ADMIN">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            {{project.description}}
        </div>
        <div class="col-xs-12 col-md-10 prj-tags">
            <div ng-repeat="tags in project.tags">
                <span>{{tags.name}}</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-10 prj-tags">
            <div ng-repeat="partner in project.partners">
                <span>{{partner.name}}</span>
            </div>
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
