<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Social:: EmpowerHack Hub</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row">
        <div class="card">
            <form th:action="@{/account/social}" th:object="${social}" method="post">
                <div class="card-header">
                    Add new social
                </div>
                <div class="card-block">
                    <div class="form-group" th:classappend="${#fields.hasErrors('provider')} ? has-danger">
                        <select class="c-select" id="provider" th:field="*{provider}">
                            <option selected="selected" value="">-- Select Provider --</option>
                            <option value="LinkedIn">LinkedIn</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                        </select>
                        <small class="text-help has-danger" th:if="${#fields.hasErrors('provider')}" th:errors="*{provider}">Provider Error</small>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('url')} ? has-danger">
                        <div class="input-group">
                            <span class="input-group-addon">http(s)://</span>
                            <input type="text" class="form-control" id="url" th:field="*{url}" />
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-primary">Add</input>
                            </span>
                        </div>
                        <small class="text-help has-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">url Error</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                Current Socials
            </div>
            <div class="card-block">
                <ul class="list-group">
                    <li class="list-group-item" th:each="social : ${socials}">
                        <a class="btn btn-danger btn-sm" th:href="@{'/account/social/delete/' + ${social.uid}}">
                            <i class="fa fa-minus-square"></i>
                        </a>
                        <span th:text="${social.provider}">provider</span>:
                        <a th:text="${social.url}" th:href="'http://' + ${social.url}">social</a>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-muted">
                <p>Total Socials <span th:text="${total}">-</span></p>
            </div>
        </div>
    </div>

</div>

</body>
</html>