<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Overview:: Hub</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <h2>Members</h2>

    <div class="results">
        <div class="card" th:each="user : ${users}">
            <div class="card-header">
                <span class="pull-right visibility">
                    <i class="fa fa-lock user-private" th:if="${user.private}"></i>
                    <i class="fa fa-unlock user-public" th:unless="${user.private}"></i>
                </span>
                <i class="fa fa-user fa-1x"></i>
                <span th:text="${user.name}">Name</span>
            </div>
            <div class="card-block">
                <h4 class="card-title" th:text="${user.email}">Email</h4>
            </div>
            <div class="card-footer text-muted">
                Availability
                <progress class="progress progress-success" max="100" th:value="${user.availability}" th:text="${user.availability}">0%</progress>
            </div>
        </div>
    </div>

</div>

</body>
</html>
